.row {
    display: flex;
    height: 4.35cm;
}
#path-to-wtc-row {
    background-color: #c2fcb6;
}
.leave-in-min {
    font-size: 96pt;
    margin-left: -31pt;
    padding-top: 24pt;
    align-self: center;
}
.leave-in-min::before {
    content: "leave in";
    font-size: 10pt;
}
.leave-in-min::after {
    content: "min";
    font-size: 10pt;
}
