.row {
    display: flex;
    height: 4.35cm;
}
#path-to-wtc-row {
    background-color: #c2fcb6;
}
.row-title {
    margin: 8pt;
    font-size: 24pt;
}
.leave-in-min {
    font-size: 96pt;
    padding-top: 24pt;  /* Depends on font size defined on previous line. Seems to be 1/3 of above value. */
    margin-left: -32pt;  /* Depends on font size and length of "leave in" text. */
    align-self: center;
}
.leave-in-min::before {
    content: "leave in";
    font-size: 10pt;
}
.leave-in-min::after {
    content: "min";
    font-size: 10pt;
}
