.row {
    display: flex;
    height: 4.35cm;
}
#path-to-wtc-row {
    background-color: #c2fcb6;
}
.row-title {
    margin: 8pt;
    font-size: 24pt;
}
.row-title-and-icon > img {
    height: 80px;
    margin: 16pt;
    margin-top: 0pt;
}
.leave-in-min {
    font-size: 128pt;
    padding-top: 0.3em;
    margin-left: -32pt;  /* Depends on font size and length of "leave in" text. */
    align-self: center;
}
.leave-in-min::before {
    content: "leave in";
    font-size: 10pt;
}
.leave-in-min::after {
    content: "min";
    font-size: 10pt;
}
